@import "~normalize.css/normalize";

$primary: rgb(21, 26, 237);
$background: rgb(246, 248, 255);
$heading: rgb(110, 143, 236);
$text_main: rgb(50, 53, 65);
$text_muted: rgb(174, 177, 189);
$text_icon: rgba(0, 0, 0, 0.3);

// Common styles
body {
	margin: 0;
	background-color: $background;
	font-family: "Montserrat", sans-serif;
}

h2 {
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: $heading;
	margin: 24px 0 0;
}

p {
	color: $text_main;
	font-size: 15px;
	line-height: 24px;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.head {
	color: #fff;
	padding: 10px 20px;

	.menubar {
		text-align: center;
		position: relative;

		h1 {
			font-size: 17px;
			font-weight: 700;
			margin: 0;
			line-height: 24px;
		}

		a, .a {
			position: absolute;
			color: #fff;
			padding: 0;
			width: 24px;
			right: 0;
			top: 0;
			cursor: pointer;

			&.back {
				left: 0;
			}
		}
	}
}

.divider {
	background: url("./img/curves.svg") repeat-x;
	height: 50vh;
	background-size: contain;
}

.main {
	padding: 0 24px;
	flex: 1;
}

// Tracks list
.tracks {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		border-bottom: 1px solid rgb(221, 221, 221);
		position: relative;
		padding: 11px 0;

		a {
			text-decoration: none;
			display: block;
		}

		.track {
			color: $text_main;
			font-size: 15px;
			line-height: 24px;
		}

		.artist {
			color: $text_muted;
			font-size: 11px;
			line-height: 16px;
		}

		i {
			position: absolute;
			right: 0;
			top: 31%;
			margin-right: -4px;
			color: $text_icon;
		}

	}

	li:last-of-type {
		border: 0;
	}
}

// Search bar
.search {
	background-color: #fff;
	padding: 15px 24px;
	margin: -32px -8px 0;
	position: absolute;
	box-shadow: 0 12px 32px rgba(55, 58, 168, 0.24);
	z-index: 1;
	left: 24px;
	right: 24px;

	&:focus-within {
		box-shadow: 0 5px 16px rgba(55, 58, 168, 0.24);
	}

	input {
		font-size: 18px;
		line-height: 32px;
		color: $text_main;
		width: 100%;
		border: 0;
		outline: none;
		background-color: #fff;
		padding-right: 25px;
		box-sizing: border-box;

		&::placeholder {
			color: rgb(174, 177, 189);
		}

		&:focus::placeholder {
			color: rgb(206, 206, 206);
		}
	}

	.clear {
		position: absolute;
		top: 20px;
		right: 20px;
		color: $text_icon;
		cursor: pointer;
	}

	.tracks {

		li:first-of-type {
			margin-top: 8px;
		}

		li:last-of-type {
			padding-bottom: 0;
		}
	}
}

// Pulse animation for curves
.pulsate {
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
	opacity: 0.5;
}

@keyframes pulsate {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.5;
	}
}

// Overlay
.overlay {
	position: fixed;
	background: rgba(0,0,0,0.1);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;

	.popover {
		background: #fff;
		margin: 48px 16px 0;
		position: relative;
		color: $text_main;
		text-align: left;
		padding: 0 24px;
		box-shadow: 0 16px 48px rgba(0, 0, 0, 0.24);
		//box-shadow: 0 16px 48px rgba(55, 58, 168, 0.24);

		&:after {
			// http://www.cssarrowplease.com/
			bottom: 100%;
			right: 10px;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border: 6px solid rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			margin-left: -6px;
		}

		div {
			position: relative;
			color: $text_main;
			font-size: 15px;
			line-height: 24px;
			padding: 22px 0;
		}

		div + div {
			border-top: 1px solid rgb(221, 221, 221);
		}

		i {
			color: $text_icon;
			position: absolute;
			right: -4px;
		}
	}
}

// Splash page
.splash
{
	&.page {
		background: linear-gradient($primary, rgb(128, 66, 191));
	}

	.logo {
		padding: 23.5vh 75px 74px;
		text-align: center;

		img {
			width: 100%;
			max-width: 300px;
		}
	}
}

// Generate page
.generate {
	.head {
		background: linear-gradient($primary, rgb(125, 66, 189));

		.logo {
			text-align: center;
			margin: 34px 0 58px;

			img {
				width: 160px;
			}
		}
	}

	.main {
		p {
			margin: 56px 26px 63px;
			text-align: center;
		}
	}
}

// Loading page
.loading {
	&.page {
		background: linear-gradient($primary, rgb(128, 66, 191));
	}

	.divider {
		margin-top: 29.5vh;
	}
}

// Playlist page
.playlist {
	.head {
		background: linear-gradient($primary, rgb(85, 50, 209));

		.playlist-info {
			text-align: center;
			font-size: 15px;
			line-height: 24px;
			margin: 15px 0 6px;

			span, i {
				vertical-align: middle;
			}

			i {
				margin-right: 8px;
			}

			span + i {
				margin-left: 16px;
			}
		}
	}

	.foot {
		text-align: center;
		background-color: #fff;
		padding: 20px;
		box-shadow: 0 5px 16px rgba(55, 58, 168, 0.24);

		img {
			width: 24px;
			margin-bottom: -7px;
			margin-right: 8px;
		}

		p {
			font-weight: 700;
			margin: 0;
		}
	}
}

// About page
.about {
	.head {
		background: linear-gradient($primary, rgb(128, 66, 191));

		p {
			margin: 34px auto 28px;
			font-size: 22px;
			line-height: 32px;
			padding: 0 12px;
			color: #fff;
			max-width: 500px;
		}
	}

	.main {
		padding: 0 32px;

		h2 {
			font-size: 18px;
			line-height: 32px;
			margin: 25px 0 8px;
			font-weight: 700;
		}

		p {
			margin: 0 0 1em;
		}
	}
}